* {
  padding: 0;
  margin: 0;
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
}

.header {
  height: 100vh;
  width: 100%;
  padding: 0 8%;
  /* background: #080008; */
  position: relative;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 100px;
}

.nav-links {
  padding: 28px 0;
}

.nav-links li {
  display: inline-block;
  margin: 0 15px;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
  padding: 5px 0;
  position: relative;
}

.nav-links li a::after {
  content: " ";
  background: #ff3;
  width: 0;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 0.5s;
}

.nav-links li a:hover::after {
  width: 100%;
}

.btn {
  background: #ffdf00;
  color: #fff;
  padding: 10px 30px;
  border-radius: 7px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
}

.btn:hover {
  background: #ff3d00;
  color: #fff;
  padding: 10px 30px;
  border-radius: 7px;
  cursor: pointer;
  transition: 0.5s;
}

.content {
  position: absolute;
  left: 50%;
  right: 50%;
  width: 100%;
  max-width: 990px;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  top: 50%;
}

.content h1 {
  font-size: 70px;
  font-weight: 600;
  margin-bottom: 40px;
}

.content form {
  background: #fff;
  padding: 10px;
  border-radius: 8px;
  display: flex;
}

.content form input {
  flex: 1;
  border: none;
  outline: none;
  padding: 0px 18px;
  font: size 20px;
}

.content form button {
  background: #ffdf00;
  color: #fff;
  padding: 10px 30px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}

.content form button:hover {
  background: #ff3d00;
  color: #fff;
  padding: 10px 30px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.5s;
}

.category-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.category {
  width: 80px;
  height: 80px;
  background: rgba(255, 61, 0, 0.5);
  margin: 0 10px;
  font-size: 13px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.category img {
  width: 25px;
  margin-bottom: 5px;
}

.video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-height: 100%;
  min-width: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}

@media (min-aspect-ratio: 16/9) {
  .video {
    width: 100%;
    height: auto;
  }
}

@media (mix-aspect-ratio: 16/9) {
  .video {
    width: auto;
    height: 100%;
  }
}
